.NewTaskForm {
  padding: 10px;
  width: 30%;
  border-left: 2px solid #cccccc;
  background-color: #eeeeee;
}

.NewTaskForm > * {
  margin-top: 10px;
  margin-bottom: 10px;
}

.NewTaskForm .NewTaskFormActionButtonRow {
  display: flex;
  flex-direction: row;
}

.NewTaskForm .NewTaskFormActionButtonRow > button {
  flex: 1;
}

.NewTaskForm .NewTaskFormHeader {
  display: flex;
  flex-direction: row;
}

.NewTaskForm .NewTaskFormHeader > h2 {
  flex: 1;
  margin: 0;
  align-self: center;
}

.NewTaskForm .NewTaskFormHeader > .NewTaskFormDiscardButton {
  align-self: center;
}
