.NewTaskForm {
  padding: 10px;
  width: 30%;
  border-left: 2px solid #cccccc;
  background-color: #eeeeee;
}

.NewTaskForm .NewTaskNameInput {
  font-size: large;
  padding: 5px;
  width: 100%;
}

.NewTaskForm > * {
  margin: 10px 0;
}
