.TaskListItem {
  border: 1px solid #cccccc;
}

.TaskListItem:not(:last-child) {
  border-bottom: none;
}

.TaskListItem:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.TaskListItem:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.TaskListItem .TaskListItemCheckbox {
  margin-right: 8px;
}

.TaskListItem .TaskListItemCheckbox.TaskListItemCheckboxDropped {
  visibility: hidden;
}

.TaskListItem.TaskListItemPending {
  font-weight: bold;
}

.TaskListItem.TaskListItemComplete {
  color: #888888;
}

.TaskListItem.TaskListItemDropped {
  color: #888888;
  text-decoration-line: line-through;
}

.TaskListItem.TaskListItemSelected {
  background-color: #a8b5df;
  border-color: #484e61;
}

.TaskListItem.TaskListItemSelected + .TaskListItem {
  border-top-color: #484e61;
}
