.TaskDetailsForm {
  padding: 10px;
  width: 30%;
  border-left: 2px solid #cccccc;
  background-color: #eeeeee;
}

.TaskDetailsForm .EditTaskNameInput {
  font-size: large;
  padding: 5px;
  width: 100%;
}

.TaskDetailsForm > * {
  margin-top: 10px;
  margin-bottom: 10px;
}

.TaskDetailsForm .TaskDetailsFormActionButtonRow {
  display: flex;
  flex-direction: row;
}

.TaskDetailsForm .TaskDetailsFormActionButtonRow > button {
  flex: 1;
}

.TaskDetailsForm .TaskDetailsFormHeader {
  display: flex;
  flex-direction: row;
}

.TaskDetailsForm .TaskDetailsFormHeader > h2 {
  flex: 1;
  margin: 0;
  align-self: center;
}

.TaskDetailsForm .TaskDetailsFormHeader > .TaskDetailsFormCloseButton {
  align-self: center;
}
