.TaskListItem .TaskListItemCheckboxDropped {
  visibility: hidden;
}

.TaskListItem .TaskListItemTextComplete {
  color: #888888;
}

.TaskListItem .TaskListItemTextDropped {
  color: #888888;
  text-decoration-line: line-through;
}
