.TaskDetailsForm {
  padding: 10px;
  width: 30%;
  border-left: 2px solid #cccccc;
  background-color: #eeeeee;
}

.TaskDetailsForm .EditTaskNameInput {
  font-size: large;
  padding: 5px;
  width: 100%;
}

.TaskDetailsForm > * {
  margin-top: 10px;
  margin-bottom: 10px;
}

.TaskDetailsFormActionButtonRow {
  display: flex;
  flex-direction: row;
}

.TaskDetailsFormActionButtonRow > button {
  flex: 1;
}

.TaskDetailsFormCloseButtonRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
